{% extends "base.html" %} {% block title %}Notificaciones{% endblock %} {% block content
    %}
    <h1>Notificaciones: </h1>
    <table  class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">Nombre del DataSet</th>
          <th scope="col">Usuario</th>
          <th scope="col">Borrar</th>
          <th scope="col">Ver</th>
        </tr>
      </thead>
      <tbody>
        {% for i in DataSet %}
        <tr>
          
          <td>{{ i[0] }}</td>
          <td>{{ i[1] }}</td>
          <td>
            <form action="{{ url_for('auth.notificaciones', idDocumento =i[2], username=username) }}" method="POST">
              <button type="submit">Delete</button>
            </form>
          </td>
          <td>
            
            <form action="{{ url_for('auth.verDataset', idDocumento =i[2], username=username) }}" method="POST">
              <button type="submit" name="NotifButton">Ver Dataset</button>
            </form>
          </td>
          
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for("auth.usuario", username=username)}}'">Volver</button>

    {% endblock %}